# <p><center> GUIA 2</center></p>

## CARGUE DEL DF Y CARACTERIZACIÓN

In [125]:
#Importación de la librería pandas
import pandas as pd

In [29]:
#lectura de la base de datos
df = pd.read_csv("10.000_Empresas_mas_Grandes_del_Pa_s_20240823.csv")

In [31]:
df["NIT"].nunique()

11441

In [75]:
#verificación incial de la base de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

In [35]:
#identificación de los nombres de las columnas
df.columns

Index(['NIT', 'RAZÓN SOCIAL', 'SUPERVISOR', 'REGIÓN', 'DEPARTAMENTO DOMICILIO',
       'CIUDAD DOMICILIO', 'CIIU', 'MACROSECTOR', 'INGRESOS OPERACIONALES',
       'GANANCIA (PÉRDIDA)', 'TOTAL ACTIVOS', 'TOTAL PASIVOS',
       'TOTAL PATRIMONIO', 'Año de Corte'],
      dtype='object')

In [37]:
len(df["NIT"].unique())

11441

In [39]:
df["NIT"].nunique()

11441

## ACTIVIDAD 1: LIMPIEZA ITERATIVA

### Producto

##### Escribir en un archivo tipo html de Jupyter  bloques de código y Markdown donde se tomen las variables de una base dada y se les realice lo siguiente:

###### Limpieza de un carácter especial.
###### Reducción de los nits de longitud mayor a 9.

In [51]:
#Colocar toda la base en mayúsculas 
df["REGIÓN"] = df["REGIÓN"].str.upper()

In [55]:
#metodo para traer filas al azar (lo hago con el objetivo de verificar que la columna está en mayúsculas)
df.sample(2)

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
12699,860515812,GABRIEL DE COLOMBIA S.A.,SUPERSOCIEDADES,BOGOTÁ - CUNDINAMARCA,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,2930,MANUFACTURA,$0.07,$0.00,$0.05,$0.04,$0.01,2021
9301,900031259,GRUPO LOMA SAS,SUPERSOCIEDADES,BOGOTÁ - CUNDINAMARCA,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,4731,COMERCIO,$0.02,$0.00,$0.01,$0.00,$0.00,2022

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

In [85]:
#Limpieza de datos en blanco para variables string, al inicio y final de la cadena.
df["RAZÓN SOCIAL"] = df["RAZÓN SOCIAL"].str.strip()
df["SUPERVISOR"] = df["SUPERVISOR"].str.strip()
df["REGIÓN"] = df["REGIÓN"].str.strip()
df["DEPARTAMENTO DOMICILIO"] = df["DEPARTAMENTO DOMICILIO"].str.strip()

In [129]:
#Limpieza de datos en blanco para variables enteras.
df["CIIU"] = df["CIIU"].replace(' ', '')

In [177]:
#limpieza de la tílde sin usar otras librerías
df['REGIÓN'] = df['REGIÓN'].str.replace('Á', 'A')

In [159]:
#Limpieza del $ en las variables que lo contienen
df['TOTAL ACTIVOS'] = df['TOTAL ACTIVOS'].str.replace('$', '', regex=False).str.strip()
df['INGRESOS OPERACIONALES'] = df['INGRESOS OPERACIONALES'].str.replace('$', '', regex=False).str.strip()
df['GANANCIA (PÉRDIDA)'] = df['GANANCIA (PÉRDIDA)'].str.replace('$', '', regex=False).str.strip()
df['TOTAL PASIVOS'] = df['TOTAL PASIVOS'].str.replace('$', '', regex=False).str.strip()
df['TOTAL PATRIMONIO'] = df['TOTAL PATRIMONIO'].str.replace('$', '', regex=False).str.strip()

In [189]:
#Verificación de que se hayan aplicado los ajustes 
df.sample(2)

,NIT,RAZÓN SOCIAL,SUPERVISOR,REGIÓN,DEPARTAMENTO DOMICILIO,CIUDAD DOMICILIO,CIIU,MACROSECTOR,INGRESOS OPERACIONALES,GANANCIA (PÉRDIDA),TOTAL ACTIVOS,TOTAL PASIVOS,TOTAL PATRIMONIO,Año de Corte
13487,900176591,NOVELL SOFTWARE NOLA S.A.S,SUPERSOCIEDADES,BOGOTA - CUNDINAMARCA,BOGOTA D.C.,BOGOTA D.C.-BOGOTA D.C.,5820,SERVICIOS,0.05,0.01,0.02,0.01,0.01,2021
5033,900815639,PRODIAMANTE AZUL SAS,SUPERSOCIEDADES,ANTIOQUIA,ANTIOQUIA,RETIRO-ANTIOQUIA,6810,SERVICIOS,0.04,0.00,0.04,0.03,0.01,2022

## ACTIVIDAD 2: TRANSFORMACIÓN DE DATOS

### Producto

##### Escribir en un archivo tipo html de Jupyter  bloques de código y Markdown donde se tomen las variables de una base dada y se les realice lo siguiente:

##### Transformación del tipo de dato

In [137]:
print(df["TOTAL ACTIVOS"].dtypes)

object

In [163]:
#Verificación incial del tipo de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  object
 9   GANANCIA (PÉRDIDA)      20000 non-null  object
 10  TOTAL ACTIVOS           20000 non-null  object
 11  TOTAL PASIVOS           20000 non-null  object
 12  TOTAL PATRIMONIO        20000 non-null  object
 13  Año de Corte            20000 non-null  int64
dtypes: int64(3), object(11)
memory usage: 2.1+ MB

In [171]:
#transformación del tipo de dato de string a float, para las variables númericas.
df['INGRESOS OPERACIONALES'] = df['INGRESOS OPERACIONALES'].astype(float)
df['GANANCIA (PÉRDIDA)'] = df['GANANCIA (PÉRDIDA)'].astype(float)
df['TOTAL ACTIVOS'] = df['TOTAL ACTIVOS'].astype(float)
df['TOTAL PASIVOS'] = df['TOTAL PASIVOS'].astype(float)
df['TOTAL PATRIMONIO'] = df['TOTAL PATRIMONIO'].astype(float)

In [173]:
#Vefificación de que la variable cambió de tipo de dato
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 14 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   NIT                     20000 non-null  int64
 1   RAZÓN SOCIAL            19998 non-null  object
 2   SUPERVISOR              20000 non-null  object
 3   REGIÓN                  20000 non-null  object
 4   DEPARTAMENTO DOMICILIO  20000 non-null  object
 5   CIUDAD DOMICILIO        20000 non-null  object
 6   CIIU                    20000 non-null  int64
 7   MACROSECTOR             20000 non-null  object
 8   INGRESOS OPERACIONALES  20000 non-null  float64
 9   GANANCIA (PÉRDIDA)      20000 non-null  float64
 10  TOTAL ACTIVOS           20000 non-null  float64
 11  TOTAL PASIVOS           20000 non-null  float64
 12  TOTAL PATRIMONIO        20000 non-null  float64
 13  Año de Corte            20000 non-null  int64
dtypes: float64(5), int64(3), object(6)
memory usage: 2.1+ MB