# <p><center> **GUIA 1**</center></p>

## <p><center> **ACTIVIDAD 1**</center></p>  
### Reconocer los tipos de datos de las variables con las que se cuenta y aplicar las funciones correspondientes a ellas.

##### cargue y lectura del df

In [5]:
#Importación de la librería pandas
import pandas as pd

In [17]:
#lectura de la base de datos
df = pd.read_csv("census_income.csv")

##### Caracterización inicial del df.

In [9]:
#cantidad de columnas
df.shape[1]

16

In [11]:
# Cantidad de filas
len(df)

48842

In [13]:
#Verificación de las columnas con el nombre de la variable
df.columns

Index(['Unnamed: 0', 'age', 'workclass', 'fnlwgt', 'education',
       'education-num', 'marital-status', 'occupation', 'relationship', 'race',
       'sex', 'capital-gain', 'capital-loss', 'hours-per-week',
       'native-country', 'income'],
      dtype='object')

In [67]:
df.values

array([[0, 39, 'State-gov', ..., 40, 'United-States', '<=50K'],
       [1, 50, 'Self-emp-not-inc', ..., 13, 'United-States', '<=50K'],
       [2, 38, 'Private', ..., 40, 'United-States', '<=50K'],
       ...,
       [48839, 38, 'Private', ..., 50, 'United-States', '<=50K.'],
       [48840, 44, 'Private', ..., 40, 'United-States', '<=50K.'],
       [48841, 35, 'Self-emp-inc', ..., 60, 'United-States', '>50K.']],
      dtype=object)

In [48]:
# Verificación inicial del contenido de la base de datos.
df.head(5)

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [19]:
#información de cada una de las variables en cuanto a la cantidad de datos y tipo de datos en cada una de ellas
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      48842 non-null  int64
 1   age             48842 non-null  int64
 2   workclass       47879 non-null  object
 3   fnlwgt          48842 non-null  int64
 4   education       48842 non-null  object
 5   education-num   48842 non-null  int64
 6   marital-status  48842 non-null  object
 7   occupation      47876 non-null  object
 8   relationship    48842 non-null  object
 9   race            48842 non-null  object
 10  sex             48842 non-null  object
 11  capital-gain    48842 non-null  int64
 12  capital-loss    48842 non-null  int64
 13  hours-per-week  48842 non-null  int64
 14  native-country  48568 non-null  object
 15  income          48842 non-null  object
dtypes: int64(7), object(9)
memory usage: 6.0+ MB

In [53]:
#conteo de las filas y columnas dentro de la variable
df.shape

(48842, 16)

In [109]:
#metodo en el cuál solamente se tienen en cuenta las variables cuantitativas 
#y se realizan diversos cálculos, como conteo, media, desviación, minimo, maximo, percentiles.
df.describe()

,Unnamed: 0,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,48842.000000,48842.000000,4.884200e+04,48842.000000,48842.000000,48842.000000,48842.000000
mean,24420.500000,38.643585,1.896641e+05,10.078089,1079.067626,87.502314,40.422382
std,14099.615261,13.710510,1.056040e+05,2.570973,7452.019058,403.004552,12.391444
min,0.000000,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,12210.250000,28.000000,1.175505e+05,9.000000,0.000000,0.000000,40.000000
50%,24420.500000,37.000000,1.781445e+05,10.000000,0.000000,0.000000,40.000000
75%,36630.750000,48.000000,2.376420e+05,12.000000,0.000000,0.000000,45.000000
max,48841.000000,90.000000,1.490400e+06,16.000000,99999.000000,4356.000000,99.000000

##### Unnamed  
###### Corresponde a una variable que muestra un consecutico, por lo que no le realizo ningún análisis

##### Age

In [103]:
#Observar la variable, conteo de los valores dentro de la variable
df["age"].value_counts()

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64

In [105]:
#información de la variable en cuanto a la cantidad de datos y tipo de dato.
df["age"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 48842 entries, 0 to 48841
Series name: age
Non-Null Count  Dtype
--------------  -----
48842 non-null  int64
dtypes: int64(1)
memory usage: 381.7 KB

In [63]:
df["age"].count()

48842

In [71]:
df["age"].value_counts()

age
36    1348
35    1337
33    1335
23    1329
31    1325
      ...
88       6
85       5
87       3
89       2
86       1
Name: count, Length: 74, dtype: int64

In [111]:
df["age"].describe()

count    48842.000000
mean        38.643585
std         13.710510
min         17.000000
25%         28.000000
50%         37.000000
75%         48.000000
max         90.000000
Name: age, dtype: float64

##### workclass

In [165]:
#Frecuencia de cada una de las opciones de la variable
print(df["workclass"].value_counts())
df["workclass"].value_counts().sum() ### Con este método me doy cuenta que no están todos los datos, de acuerdo con el número de filas.

workclass
Private             33906
Self-emp-not-inc     3862
Local-gov            3136
State-gov            1981
?                    1836
Self-emp-inc         1695
Federal-gov          1432
Without-pay            21
Never-worked           10
Name: count, dtype: int64

47879

In [157]:
#conteo de los valores nulos dentro de la variable
df["workclass"].isnull().sum()

963

In [69]:
# valores unicos
df["age"].nunique()

74

In [71]:
# Traigo 10 filas al azar
df.sample(10)

,Unnamed: 0,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
6252,6252,26,Private,133373,Some-college,10,Never-married,Sales,Own-child,White,Male,0,0,42,United-States,<=50K
27612,27612,37,Private,336880,Some-college,10,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,50,United-States,<=50K
41249,41249,68,Self-emp-not-inc,150904,HS-grad,9,Widowed,Craft-repair,Not-in-family,White,Female,0,0,35,United-States,<=50K.
22209,22209,26,Private,200681,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,40,United-States,<=50K
20712,20712,40,Private,176069,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,<=50K
26566,26566,30,?,164940,HS-grad,9,Separated,?,Unmarried,Black,Female,0,0,25,United-States,<=50K
8402,8402,69,Private,228921,Bachelors,13,Widowed,Prof-specialty,Not-in-family,White,Male,0,2282,40,United-States,>50K
7674,7674,46,Private,83064,Assoc-acdm,12,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
37233,37233,57,State-gov,222792,Some-college,10,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States,>50K.
38479,38479,42,Private,449578,Some-college,10,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,48,United-States,>50K.

##### fnlwgt

In [97]:
#Frecuencia de cada una de las opciones de la variable
df["fnlwgt"].value_counts()

fnlwgt
203488    21
120277    19
190290    19
125892    18
126569    18
          ..
286983     1
185942     1
234220     1
214706     1
350977     1
Name: count, Length: 28523, dtype: int64

##### education

In [95]:
#Frecuencia de cada una de las opciones de la variable
df["education"].value_counts()

education
HS-grad         15784
Some-college    10878
Bachelors        8025
Masters          2657
Assoc-voc        2061
11th             1812
Assoc-acdm       1601
10th             1389
7th-8th           955
Prof-school       834
9th               756
12th              657
Doctorate         594
5th-6th           509
1st-4th           247
Preschool          83
Name: count, dtype: int64

##### education-num

In [55]:
#Frecuencia de cada una de las opciones de la variable
df["education-num"].value_counts()

education-num
9     15784
10    10878
13     8025
14     2657
11     2061
7      1812
12     1601
6      1389
4       955
15      834
5       756
8       657
16      594
3       509
2       247
1        83
Name: count, dtype: int64

##### marital-status

In [85]:
#Frecuencia de cada una de las opciones de la variable
df["marital-status"].value_counts()

marital-status
Married-civ-spouse       22379
Never-married            16117
Divorced                  6633
Separated                 1530
Widowed                   1518
Married-spouse-absent      628
Married-AF-spouse           37
Name: count, dtype: int64

##### occupation

In [83]:
#Frecuencia de cada una de las opciones de la variable
df["occupation"].value_counts()

occupation
Prof-specialty       6172
Craft-repair         6112
Exec-managerial      6086
Adm-clerical         5611
Sales                5504
Other-service        4923
Machine-op-inspct    3022
Transport-moving     2355
Handlers-cleaners    2072
?                    1843
Farming-fishing      1490
Tech-support         1446
Protective-serv       983
Priv-house-serv       242
Armed-Forces           15
Name: count, dtype: int64

In [167]:
#conteo de los valores nulos dentro de la variable
df["occupation"].isnull().sum()

966

##### relationship

In [28]:
#Frecuencia de cada una de las opciones de la variable
df["relationship"].value_counts()

relationship
Husband           19716
Not-in-family     12583
Own-child          7581
Unmarried          5125
Wife               2331
Other-relative     1506
Name: count, dtype: int64

##### race

In [30]:
#Frecuencia de cada una de las opciones de la variable
df["race"].value_counts()

race
White                 41762
Black                  4685
Asian-Pac-Islander     1519
Amer-Indian-Eskimo      470
Other                   406
Name: count, dtype: int64

##### sex

In [32]:
#Frecuencia de cada una de las opciones de la variable
df["sex"].value_counts()

sex
Male      32650
Female    16192
Name: count, dtype: int64

##### capital-gain

In [34]:
#Frecuencia de cada una de las opciones de la variable
df["capital-gain"].value_counts()

capital-gain
0        44807
15024      513
7688       410
7298       364
99999      244
         ...
22040        1
2387         1
1639         1
1111         1
6612         1
Name: count, Length: 123, dtype: int64

##### capital-loss

In [36]:
#Frecuencia de cada una de las opciones de la variable
df["capital-loss"].value_counts()

capital-loss
0       46560
1902      304
1977      253
1887      233
2415       72
        ...
1539        1
1870        1
1911        1
2465        1
1421        1
Name: count, Length: 99, dtype: int64

##### hours-per-week

In [38]:
#Frecuencia de cada una de las opciones de la variable
df["hours-per-week"].value_counts()

hours-per-week
40    22803
50     4246
45     2717
60     2177
35     1937
      ...
79        1
94        1
82        1
87        1
69        1
Name: count, Length: 96, dtype: int64

##### native-country

In [40]:
#Frecuencia de cada una de las opciones de la variable
df["native-country"].value_counts()

native-country
United-States                 43832
Mexico                          951
?                               583
Philippines                     295
Germany                         206
Puerto-Rico                     184
Canada                          182
El-Salvador                     155
India                           151
Cuba                            138
England                         127
China                           122
South                           115
Jamaica                         106
Italy                           105
Dominican-Republic              103
Japan                            92
Guatemala                        88
Poland                           87
Vietnam                          86
Columbia                         85
Haiti                            75
Portugal                         67
Taiwan                           65
Iran                             59
Greece                           49
Nicaragua                        49
Peru                             46
Ecuador                          45
France                           38
Ireland                          37
Hong                             30
Thailand                         30
Cambodia                         28
Trinadad&Tobago                  27
Laos                             23
Yugoslavia                       23
Outlying-US(Guam-USVI-etc)       23
Scotland                         21
Honduras                         20
Hungary                          19
Holand-Netherlands                1
Name: count, dtype: int64

In [44]:
#conteo de los valores nulos dentro de la variable
df["native-country"].isnull().sum()

274

##### income

In [173]:
#conteo de los valores nulos dentro de la variable
df["income"].isnull().sum()

0

In [46]:
#Frecuencia de cada una de las opciones de la variable
df["income"].value_counts()

income
<=50K     24720
<=50K.    12435
>50K       7841
>50K.      3846
Name: count, dtype: int64

In [65]:
### otros metodos
df.groupby(["education"])[["native-country"]].count()

              native-country
education
10th                    1384
11th                    1808
12th                     651
1st-4th                  245
5th-6th                  505
7th-8th                  950
9th                      753
Assoc-acdm              1591
Assoc-voc               2054
Bachelors               7960
Doctorate                585
HS-grad                15719
Masters                 2628
Preschool                 83
Prof-school              825
Some-college           10827

## <p><center> **ACTIVIDAD 2**</center></p>  
### Utilizar procesos con If para la limpieza de algunas variables de una Dataframe, para un análisis con datos de calidad.

In [21]:
d_f = pd.read_csv("titanic (1).csv")

In [25]:
d_f.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

SyntaxError: invalid syntax (4118215576.py, line 1)